<div class="main" id="photos-list">

<div class="square bg original img1 add_circle">
   <div class="content">
        <div class="table">
            <div class="table-cell one">
                + Add Album
            </div>
            <div class="table-cell two">
                <input id='albumname' type='text' placeholder='Album name'/>
                <a id='submit_album'>Go</a>
            </div>
        </div>
    </div>
</div>

<div id="userbar">
  Users
<i class="fa fa-user fa-3x"></i>
</div>
</div>


