<div class="main" id="circles-list">
	<!-- 1st row verticaly centered text in the circle columns -->
<div class="circle bg img1" style='background-image: url("http://i.imgur.com/vSRCLfM.jpg"); opacity: 0.6;'>
   <div class="content">
        <div class="table">
            <div class="table-cell" contenteditable="true">
                [Enter name here]
            </div>
        </div>
    </div>
</div>  

<div class="circle bg img1 add_circ">
   <div class="content">
        <div class="table">
            <div class="table-cell">
                Add Circle
            </div>
        </div>
    </div>
</div>

</div>