<div class="main">
	<!-- 1st row verticaly centered text in the circle columns -->

<div class="circle bg img1">
   <div class="content">
        <div class="table">
            <div class="table-cell">
                Family
            </div>
        </div>
    </div>
</div>

<div class="circle bg img1">
   <div class="content">
        <div class="table">
            <div class="table-cell">
                Friends
            </div>
        </div>
    </div>
</div>

<div class="circle bg img1">
   <div class="content">
        <div class="table">
            <div class="table-cell">
                Co-workers
            </div>
        </div>
    </div>
</div>

<!-- 2nd row verticaly centered images in circle columns -->

<div class="circle bg img1">
   <div class="content">
        <div class="table">
            <div class="table-cell">
                Family
            </div>
        </div>
    </div>
</div>

<div class="circle bg img1">
   <div class="content">
        <div class="table">
            <div class="table-cell">
                Friends
            </div>
        </div>
    </div>
</div>

<div class="circle bg img1">
   <div class="content">
        <div class="table">
            <div class="table-cell">
                Co-workers
            </div>
        </div>
    </div>
</div>

<!-- 3rd row responsive images in background with centered content -->

<div class="circle bg img1">
   <div class="content">
        <div class="table">
            <div class="table-cell">
                Family
            </div>
        </div>
    </div>
</div>

<div class="circle bg img1">
   <div class="content">
        <div class="table">
            <div class="table-cell">
                Friends
            </div>
        </div>
    </div>
</div>

<div class="circle bg img1">
   <div class="content">
        <div class="table">
            <div class="table-cell">
                Co-workers
            </div>
        </div>
    </div>
</div>
<!-- END OF LAYOUT, following juts for the demo -->

<div class="circle bg img1 add_circle">
   <div class="content">
        <div class="table">
            <div class="table-cell">
                Add Circle
            </div>
        </div>
    </div>
</div>

</div>