<div class="acidjs-hellobar acidjs-hellobar-e34c26" style="display: none !important; margin-bottom: 25px;">
    <input type="checkbox" id="acidjs-hellobar-switcher" checked="checked" />
    <div>
        <div id="errormsg">You've entered incorrect details. Please try again.</div>
    </div>
</div>

<div class="main" id="circles-list">
<!-- 1st row verticaly centered text in the circle columns -->
<div class="circle bg img1 new" style='background-color: white !important; color: #acacac; border: 2px dashed #acacac !important; display: none;'>
   <div class="content">
        <div class="table">
            <div class="table-cell new_album" contenteditable="true">
                [Click & enter name]
            </div>
        </div>
    </div>
</div>  

<div class="circle bg img1 add_circ">
   <div class="content">
        <div class="table">
            <div class="table-cell">
                Add Circle
            </div>
        </div>
    </div>
</div>

<!-- </div>

<form action="./user/39/photo" method="post" enctype="multipart/form-data">
    <fieldset>
        <input type='hidden' name='session_id' value='3sYcDnhYQf'/>
        <input type="file" name="upload" id="picture" /></br>
        <input type='text' name='title' />
    </fieldset>
    <fieldset>
        <input type="submit">
    </fieldset>
</form>
 -->