
/* =============================================================================
   Primary styles
   Author: 
   ========================================================================== */


#container {
  width: 960px;
  margin: auto;
  min-height: 500px;
  background: #fff;
}
#menu {
  background: #444;
  height: 30px; color: #fff; text-align: right;
}
#menu ul {
  list-style: none;
  margin: 0; padding: 0;
}
#menu ul li {
  float: left;
  margin-left: 10px;
}
#menu ul li a {
  color: #fff;
  line-height: 30px;
  text-decoration: none;
}
#menu ul li a:hover {
  color: #ccc;
}
#container {

}
#logo {
   padding: 20px;
}
h1{
  padding: 0;
  margin: 0;
}
#page {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  min-height: 400px;
  padding: 20px;
  overflow: hidden;
}

#page  {
  width: 960px;
}

 #page .main {
    display: block;
    position:relative;
    top: 0px;
    left: 0px;
    padding: 0px;
    margin: 0px;
    width: 500px;
    float: left;
    overflow: hidden;
  }

 #page .sidebar {
    display: block;
    position:relative;
    top: 0px;
    left: 0px;
    padding: 10px;
    margin: 0px;
    width: 400px;
    height: 300px;
    background-color:#FFF;
    float: left;
  }

  #page .sidebar .ad {
    clear:both;
  }

  #page .sidebar .ad .pic {
    display: block;
    position: relative;
    margin: 0px;
    padding: 0px;
    float: left;
    top: 0px;
    left: 0px;
    width: 150px;
  }  

  #page .sidebar .ad .info {
    display: block;
    position: relative;
    margin: 0px;
    padding: 0px;
    float: left;
    top: 0px;
    left: 0px;
    width: 250px;
  }  

  #page .sidebar .ad .info h4 {
    font-size: 16px;
    color:#666;
  }

  #page .sidebar .ad .info p {
    font-size: 10px;
    color:#999;
  }

#page .contributors-stats ul {
  list-style: none;
}

#page .contributors-stats ul li {
  display:block;
  position: relative;
  height: 20px;
}

#page .contributors-stats ul li p {
  font-size: 20px;
  color:#999;
  font-weight: bold; 
  margin: 0px;
  padding: 0px;
}

#page #contributors-list {

}

#page #contributors-list .podium {
  display: block;
  position: relative;
  float: left;
  height: 100%;
  width: 320px;
}

#page #contributors-list .podium .top {
  display: block;
  position: relative;
  float: left;
}

#page #contributors-list .podium .base {
  display: block;
  position: relative;
  float: left;
  background-color: rgba(214, 214, 214, 0.38);
  width: 100%;
}

#page #contributors-list .podium .base p {
  text-align: left;
  color: #666;
  font-weight: normal; 
  font-size: 12px; 
  margin-left: 10px;
}

#page #contributors-list ul.contributors {
    list-style: none;
    margin: 0px;
    padding: 0px;
  }

  #page #contributors-list ul.contributors li {
    display: block;
    position: relative;
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 0px;
    float: left;
  }

 #page #contributors-list ul.contributors li div.contributor {
    display: block;
    position: relative;
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 0px;
 } 

 #page #contributors-list ul.contributors li div.contributor ul {
    list-style: none;
    margin: 0px;
    padding: 0px;

 } 

 #page #contributors-list ul.contributors li div.contributor ul li {
    display: block;
    position: absolute;
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 0px;
 }

 #page #contributors-list ul.contributors li div.contributor ul li.username {
    z-index: 2;
    height: 14px;
    border: none;
 }

 #page #contributors-list ul.contributors li div.contributor ul li.username p {
    display:block;
    position: absolute;
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 14px;
    text-align: center;
    font-size: 10px;
    font-weight: normal;
    color:#333;
    line-height: 14px !important;
 }

 #page #contributors-list ul.contributors li div.contributor ul li.username p a {
    color:#333;
    text-decoration: none;
 }

 #page #contributors-list ul.contributors li div.contributor ul li.username p a:hover {
    color:#334231;
 }

 #page #contributors-list ul.contributors li div.contributor ul li.pic {
    z-index: 1;
 }

 #page #contributors-list ul.contributors li div.contributor ul li.pic a {
    display:block;
    position: absolute;
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 0px;
    width: 100%;
    border: none;
 }

 #page #contributors-list ul.contributors li div.contributor ul li.pic p {
    display: block;
    position: absolute;
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 0px;
    width: 100%;
 }

 #page #contributors-list ul.contributors li div.contributor ul li.contributions {
    z-index: 3;
    pointer-events:none;
 }

 #page #contributors-list ul.contributors li div.contributor ul li.contributions p {
    display:block;
    position: absolute;
    left:0px;
    width:100%;
    height: 15%;
    top: 85%;
    text-align: center;
    line-height: 14px !important;
    font-size: 10px;
    font-weight: normal;
    color:#333;
    margin:0px;
    padding:0px;
 }

@import url(http://fonts.googleapis.com/css?family=Lato:400,900);  /* <-- Just for the demo, Yes I like pretty fonts... */

#navigation {
  line-height: 140px;
  display: none;
  text-align: left;
  text-transform: lowercase;
  font-size: 14px;
  font-family: 'proxima-nova','Helvetica','Avenir','Arial',sans-serif;
}
#navigation a {
  color: #acacac;
  margin-right: 5%;
  border: 3px solid #e2e2e2;
  border-radius: 100px;
  padding: 4px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 400;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

#navigation a:hover {
  color: #333;
  text-decoration: none;
  border: 3px solid #333;
}
.circle {
    float:left;
    position: relative;
    width: 30%;
    padding-bottom : 30%; /* = width for a 1:1 aspect ratio */
    margin:1.66%;
    background-color:#1E1E1E;
    overflow:hidden;
    border-radius: 50%;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;

}

.square {
    float:left;
    position: relative;
    width: 30%;
    padding-bottom : 30%; /* = width for a 1:1 aspect ratio */
    margin:1.66%;
    background-color:#1E1E1E;
    overflow:hidden;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
  
}

.circle:hover {
  background-image: none !important;
  cursor: pointer;
  -webkit-transform: scale(1.1,1.1);;
  -moz-transform: scale(1.1,1.1);;
  -ms-transform: scale(1.1,1.1);;
  -o-transform: scale(1.1,1.1);;
  transform: scale(1.1,1.1);;
}


.content {
    position:absolute;
    height:90%; /* = 100% - 2*5% padding */
    width:90%; /* = 100% - 2*5% padding */
    padding: 5%;
    
}
.table{
    display:table;
    width:100%;
    height:100%;
}
.table-cell{
    display:table-cell;
    vertical-align:middle;
}
/*  For list */
ul{
    text-align:left;
    margin:5% 0 0;
    padding:0;
    list-style-position:inside;
}
li{
    margin: 0 0 0 5%;
    padding:0;
}


/*  For responsive images */

.content .rs{
    width:auto;
    height:auto;
    max-height:90%;
    max-width:100%;
}
/*  For responsive images as background */

.bg{
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover; /* you change this to "contain" if you don't want the images to be cropped */
    color:#fff;
}

.img1{
    background-image: url('https://farm3.staticflickr.com/2827/10384422264_d9c7299146.jpg');
}

.img2{
    background-image: url('https://farm7.staticflickr.com/6217/6216951796_e50778255c.jpg');
}
.img3{
    background-image: url('https://farm4.staticflickr.com/3794/13893055574_3df0ab636b.jpg');
}

/*  following just for the demo */


body {
    font-size:20px;
    font-family: 'Lato',verdana, sans-serif;
    color: #fff;
    text-align:center;
    background:#ECECEC;
}
p{
    margin:0;
    padding:0;
    text-align:left;
}

.numbers{
    font-weight:900;
    font-size:100px;
}

#bottom {
    clear:both;
    margin:0 1.66%;
    width:89.68%;
    padding: 3.5%;
    background-color:#1E1E1E;
    color: #fff;
}
#bottom p{
    text-align:center;
    line-height:2em;
}
#bottom a{
    color: #000;
    text-decoration:none;
    border:1px solid #000;
    padding:10px 20px 12px;
    line-height:70px;
    background:#ccc;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#bottom a:hover{
    background:#ECECEC;
    border:1px solid #fff;
}

.logotext{
  display: inline-block;
}

.logotext span{
  padding: 5px 10px 5px 10px;
  margin-right: 2.5px; 
  background-color: black; 
  color: white;
}
.splash_logo{
float:left;
width: 100%;
text-align: left;
}
.splash_logo h1{
  font-family: times, Times New Roman, times-roman, georgia, serif;
  color: #000;
  margin: 0;
  padding: 0px 0px 6px 0px;
  font-size: 51px;
  line-height: 44px;
  letter-spacing: -2px;
  font-weight: bold;
}

.splash_logo h3{
  font-family: Gill Sans, Verdana;
  font-size: 11px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}

#splash{
  margin-top: 10%;
  text-align: left;
}

#contents{
  display: none;
}

.logotext button {
  background-color: black;
  color: white;
  border: 0px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 10px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.logotext button:hover {
  background-color: #D1E751;
}

.logotext input {
  width: 50%;
}
