<div class="main">
	<!-- 1st row verticaly centered text in the circle columns -->

<div id="splash">


    <div class="splash_logo">      
        <div style="padding-top: 25%;" class="logotext"><h1>Moments</h1></div>
    </div>

    <div class="splash_logo">    
        <divclass="logotext"><h3>Group photo sharing made easy and beautiful.</h3></div> 
    </div>

    <div class="splash_logo" style="padding-top: 5%;">      
        <div class="logotext">
            <button><h3>log in</h3></button>
            <button><h3>register</h3></button>
        </div>
    </div>

    <div class="splash_logo" style="padding-top: 5%;">      
        <div class="logotext">
            <input type='text' placeholder='username'/>

            <input type='password' placeholder='password'/>
        </div>
    </div>

</div>

</div>

