
/* =============================================================================
   Primary styles
   Author: 
   ========================================================================== */


#container {
  width: 960px;
  margin: auto;
  min-height: 500px;
  background: #fff;
}
#menu {
  background: #444;
  height: 30px; color: #fff; text-align: right;
}
#menu ul {
  list-style: none;
  margin: 0; padding: 0;
}
#menu ul li {
  float: left;
  margin-left: 10px;
}
#menu ul li a {
  color: #fff;
  line-height: 30px;
  text-decoration: none;
}
#menu ul li a:hover {
  color: #ccc;
}
#container {

}
#logo {
   padding: 20px;
}
h1{
  padding: 0;
  margin: 0;
}
h6{
  font-size: 10px !important;
  font-weight: normal !important;
  text-align: left;
}

#page {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  min-height: 400px;
  padding: 20px;
  overflow: hidden;
}

#page  {
  width: 960px;
}

 #page .main {
    display: block;
    position:relative;
    top: 0px;
    left: 0px;
    padding: 0px;
    margin: 0px;
    width: 500px;
    float: left;
    overflow: hidden;
  }

 #page .sidebar {
    display: block;
    position:relative;
    top: 0px;
    left: 0px;
    padding: 10px;
    margin: 0px;
    width: 400px;
    height: 300px;
    background-color:#FFF;
    float: left;
  }

  #page .sidebar .ad {
    clear:both;
  }

  #page .sidebar .ad .pic {
    display: block;
    position: relative;
    margin: 0px;
    padding: 0px;
    float: left;
    top: 0px;
    left: 0px;
    width: 150px;
  }  

  #page .sidebar .ad .info {
    display: block;
    position: relative;
    margin: 0px;
    padding: 0px;
    float: left;
    top: 0px;
    left: 0px;
    width: 250px;
  }  

  #page .sidebar .ad .info h4 {
    font-size: 16px;
    color:#666;
  }

  #page .sidebar .ad .info p {
    font-size: 10px;
    color:#999;
  }

#page .contributors-stats ul {
  list-style: none;
}

#page .contributors-stats ul li {
  display:block;
  position: relative;
  height: 20px;
}

#page .contributors-stats ul li p {
  font-size: 20px;
  color:#999;
  font-weight: bold; 
  margin: 0px;
  padding: 0px;
}

#page #contributors-list {

}

#page #contributors-list .podium {
  display: block;
  position: relative;
  float: left;
  height: 100%;
  width: 320px;
}

#page #contributors-list .podium .top {
  display: block;
  position: relative;
  float: left;
}

#page #contributors-list .podium .base {
  display: block;
  position: relative;
  float: left;
  background-color: rgba(214, 214, 214, 0.38);
  width: 100%;
}

#page #contributors-list .podium .base p {
  text-align: left;
  color: #666;
  font-weight: normal; 
  font-size: 12px; 
  margin-left: 10px;
}

#page #contributors-list ul.contributors {
    list-style: none;
    margin: 0px;
    padding: 0px;
  }

  #page #contributors-list ul.contributors li {
    display: block;
    position: relative;
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 0px;
    float: left;
  }

 #page #contributors-list ul.contributors li div.contributor {
    display: block;
    position: relative;
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 0px;
 } 

 #page #contributors-list ul.contributors li div.contributor ul {
    list-style: none;
    margin: 0px;
    padding: 0px;

 } 

 #page #contributors-list ul.contributors li div.contributor ul li {
    display: block;
    position: absolute;
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 0px;
 }

 #page #contributors-list ul.contributors li div.contributor ul li.username {
    z-index: 2;
    height: 14px;
    border: none;
 }

 #page #contributors-list ul.contributors li div.contributor ul li.username p {
    display:block;
    position: absolute;
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 14px;
    text-align: center;
    font-size: 10px;
    font-weight: normal;
    color:#333;
    line-height: 14px !important;
 }

 #page #contributors-list ul.contributors li div.contributor ul li.username p a {
    color:#333;
    text-decoration: none;
 }

 #page #contributors-list ul.contributors li div.contributor ul li.username p a:hover {
    color:#334231;
 }

 #page #contributors-list ul.contributors li div.contributor ul li.pic {
    z-index: 1;
 }

 #page #contributors-list ul.contributors li div.contributor ul li.pic a {
    display:block;
    position: absolute;
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 0px;
    width: 100%;
    border: none;
 }

 #page #contributors-list ul.contributors li div.contributor ul li.pic p {
    display: block;
    position: absolute;
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 0px;
    width: 100%;
 }

 #page #contributors-list ul.contributors li div.contributor ul li.contributions {
    z-index: 3;
    pointer-events:none;
 }

 #page #contributors-list ul.contributors li div.contributor ul li.contributions p {
    display:block;
    position: absolute;
    left:0px;
    width:100%;
    height: 15%;
    top: 85%;
    text-align: center;
    line-height: 14px !important;
    font-size: 10px;
    font-weight: normal;
    color:#333;
    margin:0px;
    padding:0px;
 }

@import url(http://fonts.googleapis.com/css?family=Lato:400,900);  /* <-- Just for the demo, Yes I like pretty fonts... */

#navigation {
  line-height: 140px !important;
  display: none;
  text-align: left;
  font-family: Gill Sans, Verdana;
  font-size: 10px !important;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
#navigation a {
  color: #acacac;
  margin-right: 5%;
  border: 3px solid #e2e2e2;
  border-radius: 100px;
  padding: 4px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 400;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.upload {
  background-color: #4DBCE9;
  border-color: #4DBCE9 !important;
  color: white !important;
}

.upload:hover {
  background-color: #26ADE4 !important;
  border-color: #26ADE4 !important;
}
#navigation a:hover {
  background-color: #D1E751;
  color: white;
  text-decoration: none;
  border: 3px solid #D1E751;
}
.circle {
    float:left;
    position: relative;
    width: 30%;
    padding-bottom : 30%; /* = width for a 1:1 aspect ratio */
    margin:1.66%;
    background-color:#4DBCE9;
    overflow:hidden;
    border-radius: 50%;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;

}

@-webkit-keyframes rotate {

    0% {
    -webkit-transform: rotate(0deg);
    }
    50% { 
    -webkit-transform: rotate(150deg) scale(0);
    }
    100% { 
    -webkit-transform: rotate(0deg) scale(1);
    }

}

@-webkit-keyframes fade {
  0%   { opacity: 0; }
  2%  { opacity: 0.5; }
  3% { opacity: 1; }
}

.add_circle {
  background-image: none !important;
  border: 3px solid #e2e2e2 !important;
  color: #acacac !important;
  background-color: transparent !important;

}

.add_circle:hover {
  -webkit-animation-name: rotate; 
  -webkit-animation-duration: 2s; 
}

.two {
  display: none !important;
}

.add_circle:hover .one {
  cursor: crosshair;
  display: none;
}

.content:hover, .table:hover, .table-cell {
  cursor: crosshair;
}

.add_circle:hover .two {
  display: table-cell !important;
  -webkit-animation-name: fade; 
  -webkit-animation-duration: 40s; 
}

.square {
    float:left;
    position: relative;
    width: 30%;
    padding-bottom : 30%; /* = width for a 1:1 aspect ratio */
    margin:1%;
    background-color:#1E1E1E;
    overflow:hidden;
    border: 3px solid #e2e2e2;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
  
}

.circle:hover {
  background-image: none !important;
  cursor: pointer;
  -webkit-transform: scale(1.1,1.1);
  -moz-transform: scale(1.1,1.1);
  -ms-transform: scale(1.1,1.1);
  -o-transform: scale(1.1,1.1);
  transform: scale(1.1,1.1);
}

.square:hover, .content:hover{
  cursor: pointer;
}

.square:not(.add_circle):hover {
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  transform: rotate(10deg);
}


.content {
    position:absolute;
    height:90%; /* = 100% - 2*5% padding */
    width:90%; /* = 100% - 2*5% padding */
    padding: 5%;
    
}
.table{
    display:table;
    width:100%;
    height:100%;
}
.table-cell{
    display:table-cell;
    vertical-align:middle;
}
/*  For list */
ul{
    text-align:left;
    margin:5% 0 0;
    padding:0;
    list-style-position:inside;
}
li{
    margin: 0 0 0 5%;
    padding:0;
}


/*  For responsive images */

.content .rs{
    width:auto;
    height:auto;
    max-height:90%;
    max-width:100%;
}
/*  For responsive images as background */

.bg{
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover; /* you change this to "contain" if you don't want the images to be cropped */
    color:#fff;
}


/*  following just for the demo */


body {
    font-size:20px;
    font-family: 'Lato',verdana, sans-serif;
    color: #fff;
    text-align:center;
    background:#ECECEC;
}
p{
    margin:0;
    padding:0;
    text-align:left;
}

.numbers{
    font-weight:900;
    font-size:100px;
}

#bottom {
    clear:both;
    margin:0 1.66%;
    width:89.68%;
    padding: 3.5%;
    background-color:#1E1E1E;
    color: #fff;
}
#bottom p{
    text-align:center;
    line-height:2em;
}
#bottom a{
    color: #000;
    text-decoration:none;
    border:1px solid #000;
    padding:10px 20px 12px;
    line-height:70px;
    background:#ccc;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#bottom a:hover{
    background:#ECECEC;
    border:1px solid #fff;
}

.logotext{
  display: inline-block;
}

.logotext span{
  background-color: transparent; 
  border-bottom: 3px solid #26ADE4;
}
.splash_logo{
float:left;
width: 100%;
text-align: left;
}
.splash_logo h1{
  font-family: "Enriqueta", serif;
  color: #000;
  margin: 0;
  padding: 0px 0px 6px 0px;
  font-size: 51px;
  line-height: 44px;
  letter-spacing: -2px;
  font-weight: bold;
}

.splash_logo h2{
  font-family: Georgia, serif;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  font-style: italic;
  color: #aaaaaa;
  font-weight: normal;
}

.splash_logo h3{
  font-family: Gill Sans, Verdana;
  font-size: 11px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: normal !important;
}

#splash{
  margin-top: 10%;
  text-align: left;
}

#contents{
  display: none;
}

.logotext button {
  background-color: black;
  color: white;
  border: 0px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 10px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.logotext button:hover {
  background-color: #D1E751;
}

#contents {

  font-family: Gill Sans, Verdana;
  font-size: 10px !important;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;

}

.logotext input {
  width: 25%;
  float: left; 
  margin-right: 2%;
  height: 30px !important;
  border-radius: 0px !important;
  border-left: 0px !important;
  border-bottom: 0px !important;
  border-right: 0px !important;
  border-top: 5px #4DBCE9 solid !important;
  font-family: Gill Sans, Verdana;
  font-size: 8px !important;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.logo img {
  border-bottom: 5px #4DBCE9 solid !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.logo img:hover {
  border-bottom: 5px #D1E751 solid !important;
}

#followingBallsG{
position:relative;
width:76px;
height:5px;
}

.followingBallsG{
background-color:#000000;
position:absolute;
top:0;
left:0;
width:5px;
height:5px;
-moz-border-radius:3px;
-moz-animation-name:bounce_followingBallsG;
-moz-animation-duration:1.9s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-border-radius:3px;
-webkit-animation-name:bounce_followingBallsG;
-webkit-animation-duration:1.9s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-border-radius:3px;
-ms-animation-name:bounce_followingBallsG;
-ms-animation-duration:1.9s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-o-border-radius:3px;
-o-animation-name:bounce_followingBallsG;
-o-animation-duration:1.9s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
border-radius:3px;
animation-name:bounce_followingBallsG;
animation-duration:1.9s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#followingBallsG_1{
-moz-animation-delay:0s;
}

#followingBallsG_1{
-webkit-animation-delay:0s;
}

#followingBallsG_1{
-ms-animation-delay:0s;
}

#followingBallsG_1{
-o-animation-delay:0s;
}

#followingBallsG_1{
animation-delay:0s;
}

#followingBallsG_2{
-moz-animation-delay:0.19s;
-webkit-animation-delay:0.19s;
-ms-animation-delay:0.19s;
-o-animation-delay:0.19s;
animation-delay:0.19s;
}

#followingBallsG_3{
-moz-animation-delay:0.38s;
-webkit-animation-delay:0.38s;
-ms-animation-delay:0.38s;
-o-animation-delay:0.38s;
animation-delay:0.38s;
}

#followingBallsG_4{
-moz-animation-delay:0.57s;
-webkit-animation-delay:0.57s;
-ms-animation-delay:0.57s;
-o-animation-delay:0.57s;
animation-delay:0.57s;
}

@-moz-keyframes bounce_followingBallsG{
0%{
left:0px;
background-color:#000000;
}

50%{
left:71px;
background-color:#FFFFFF;
}

100%{
left:0px;
background-color:#000000;
}

}

@-webkit-keyframes bounce_followingBallsG{
0%{
left:0px;
background-color:#000000;
}

50%{
left:71px;
background-color:#FFFFFF;
}

100%{
left:0px;
background-color:#000000;
}

}

@-ms-keyframes bounce_followingBallsG{
0%{
left:0px;
background-color:#000000;
}

50%{
left:71px;
background-color:#FFFFFF;
}

100%{
left:0px;
background-color:#000000;
}

}

@-o-keyframes bounce_followingBallsG{
0%{
left:0px;
background-color:#000000;
}

50%{
left:71px;
background-color:#FFFFFF;
}

100%{
left:0px;
background-color:#000000;
}

}

@keyframes bounce_followingBallsG{
0%{
left:0px;
background-color:#000000;
}

50%{
left:71px;
background-color:#FFFFFF;
}

100%{
left:0px;
background-color:#000000;
}

}



/*
 * CSS3 Hello Bar
 * @version 1.0
 * @author Martin Ivanov
 * @url developer website: http://wemakesites.net/
 * @url developer twitter: https://twitter.com/#!/wemakesitesnet
 * @url developer blog http://acidmartin.wordpress.com/
 **/
 
:root .acidjs-hellobar,
.acidjs-hellobar label,
.acidjs-hellobar label span
{
    display: block;
}
 
.acidjs-hellobar,
.acidjs-hellobar *
{
    margin: 0;
    padding: 0;
}
 
.acidjs-hellobar > div,
.acidjs-hellobar label span
{
    line-height: 30px;
    text-align: center;
    color: #fff;
    background: #666;
    transition: margin 300ms ease-in-out;
}
 
.acidjs-hellobar,
.acidjs-hellobar input
{
    display: none;
}
 
.acidjs-hellobar
{
    position: fixed;
    z-index: 250;
    top: 0;
    left: 0;
    width: 100%;
    font-family: Arial, Helvetica, Verdana, Sans-serif;
    color: #000;
    cursor: default;
     
    /* these properties are required only by the demo page at http://experiments.wemakesites.net/css3-hello-bar.html */
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    pointer-events: none;
}
 
/* these rules are required only by the demo page at http://experiments.wemakesites.net/css3-hello-bar.html */

.acidjs-hellobar > div,
.acidjs-hellobar label
{
    -webkit-pointer-events: all;
    -moz-pointer-events: all;
    pointer-events: all;
}
 
.acidjs-hellobar > div
{
    margin-top: -37px;
    padding: 0 64px;
    border-bottom: solid 3px #4DBCE9;
    font-size: 12px;
}
 
.acidjs-hellobar > div > div
{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
 
.acidjs-hellobar label
{
    float: right;
    margin: 0 16px 0 0;
}
 
.acidjs-hellobar label span
{
    width: 30px;
    height: 30px;
    font-size: 27px;
    text-shadow: 0px 1px rgba(0, 0, 0, .75);
    border: solid 3px #fff;
    border-top: 0;
    border-radius: 0 0 4px 4px;
    cursor: pointer;
}
 
.acidjs-hellobar input ~ label span:first-child
{
    border-color: transparent;
    box-shadow: none;
    background: none;
}
 
.acidjs-hellobar input:not(:checked) ~ label span:first-child
{
    opacity: 0;
}
 
.acidjs-hellobar input:checked ~ label span:first-child
{
    opacity: 1;
    transition: opacity 300ms 300ms ease-in-out;
}
 
.acidjs-hellobar input:not(:checked) ~ label span:last-child
{
    margin-top: -33px;
}
 
.acidjs-hellobar input:checked ~ label span:last-child
{
    margin-top: -70px;
}
 
.acidjs-hellobar input:checked ~  div
{
    margin-top: 0;
}
 
/* Colors */
.acidjs-hellobar.acidjs-hellobar-e34c26 > div,
.acidjs-hellobar.acidjs-hellobar-e34c26 label span
{
    background: #4DBCE9;
}
 
.acidjs-hellobar.acidjs-hellobar-78ba00 > div,
.acidjs-hellobar.acidjs-hellobar-78ba00 label span
{
    background: #78ba00;
}
 
.acidjs-hellobar.acidjs-hellobar-1b58b8 > div,
.acidjs-hellobar.acidjs-hellobar-1b58b8 label span
{
    background: #1b58b8;
}
 
.acidjs-hellobar.acidjs-hellobar-ff2e12 > div,
.acidjs-hellobar.acidjs-hellobar-ff2e12 label span
{
    background: #ff2e12;
}
 
.acidjs-hellobar.acidjs-hellobar-aa40ff > div,
.acidjs-hellobar.acidjs-hellobar-aa40ff label span
{
    background: #aa40ff;
}
