<div class="main">
	<!-- 1st row verticaly centered text in the square columns -->

<div class="square bg img1">
   <div class="content">
        <div class="table">
            <div class="table-cell">
                Family
            </div>
        </div>
    </div>
</div>

<div class="square bg img1">
   <div class="content">
        <div class="table">
            <div class="table-cell">
                Friends
            </div>
        </div>
    </div>
</div>

<div class="square bg img1">
   <div class="content">
        <div class="table">
            <div class="table-cell">
                Co-workers
            </div>
        </div>
    </div>
</div>

<!-- 2nd row verticaly centered images in square columns -->

<div class="square bg img1">
   <div class="content">
        <div class="table">
            <div class="table-cell">
                Family
            </div>
        </div>
    </div>
</div>

<div class="square bg img1">
   <div class="content">
        <div class="table">
            <div class="table-cell">
                Friends
            </div>
        </div>
    </div>
</div>

<div class="square bg img1">
   <div class="content">
        <div class="table">
            <div class="table-cell">
                Co-workers
            </div>
        </div>
    </div>
</div>

<!-- 3rd row responsive images in background with centered content -->

<div class="square bg img1">
   <div class="content">
        <div class="table">
            <div class="table-cell">
                Family
            </div>
        </div>
    </div>
</div>

<div class="square bg img1">
   <div class="content">
        <div class="table">
            <div class="table-cell">
                Friends
            </div>
        </div>
    </div>
</div>

<div class="square bg img1">
   <div class="content">
        <div class="table">
            <div class="table-cell">
                Co-workerslkjlk
            </div>
        </div>
    </div>
</div>
<!-- END OF LAYOUT, following juts for the demo -->

<!-- Button trigger modal -->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


</div>

