<div class="main">
	<!-- 1st row verticaly centered text in the circle columns -->

<div id="splash">


    <div class="splash_logo">      
        <div style="padding-top: 20%;" class="logotext">
            <h2>welcome to</h2>
            <h1><span>M</span>oments</h1>
        </div>
    </div>

    <div class="splash_logo" style="padding-top: 5%;">    
        <divclass="logotext"><h3>Group photo sharing made easy and beautiful</h3></div> 
    </div>

    <div class="splash_logo">      
        <div class="logotext">
            <button onclick='$(this).parent().hide(); $(".loginform").slideToggle();'><h3>log in</h3></button>
            <button><h3>register</h3></button>
        </div>
    </div>

    <div class="splash_logo loginform" style="display: none;">      
        <div class="logotext">
            <input type='text' placeholder='email'/>

            <input type='password' placeholder='password'/>

            <button><h3>submit</h3></button>

        </div>
    </div>

</div>

</div>

