<div class="acidjs-hellobar acidjs-hellobar-e34c26">
    <input type="checkbox" id="acidjs-hellobar-switcher" checked="checked" />
    <label for="acidjs-hellobar-switcher">
        <span>⇧</span>
        <span>⇩</span>
    </label>
    <div>
        <div>Notification toolbar, written entirely in CSS3 and without 
            a single line of JavaScript. Click the arrow on the right 
            to expand/collapse. Ain't it cool?</div>
    </div>
</div>

<div class="main">
	<!-- 1st row verticaly centered text in the circle columns -->

<div id="splash">


    <div class="splash_logo">      
        <div style="padding-top: 20%;" class="logotext">
            <h2>welcome to</h2>
            <h1><span>M</span>oments</h1>
        </div>
    </div>

    <div class="splash_logo" style="padding-top: 5%;">    
        <divclass="logotext"><h3>Group photo sharing made easy and beautiful</h3></div> 
    </div>

    <div class="splash_logo">      
        <div class="logotext">
            <button onclick='$(this).parent().hide(); $(".loginform").slideToggle();'><h3>log in</h3></button>
            <button onclick='$(this).parent().hide(); $(".signup").slideToggle();'><h3>register</h3></button>
        </div>
    </div>

    <div class="splash_logo loginform" style="display: none;">      
        <div class="logotext">
            <input type='text' placeholder='email'/>
            <input type='password' placeholder='password'/>
            <button id="btn_login"><h3>submit</h3></button>

            <div class="fbg" id="followingBallsG" style="display: none;">
            <div id="followingBallsG_1" class="followingBallsG">
            </div>
            <div id="followingBallsG_2" class="followingBallsG">
            </div>
            <div id="followingBallsG_3" class="followingBallsG">
            </div>
            <div id="followingBallsG_4" class="followingBallsG">
            </div>
            </div> 

        </div>
    </div>

    <div class="splash_logo signup" style="display: none;">      
        <div class="logotext">
            <input type='text' placeholder='email'/>
            <input type='password' placeholder='password'/>
            <button id="btn_register"><h3>register</h3></button>

            <div class="fbg" id="followingBallsG" style="display: none;">
            <div id="followingBallsG_1" class="followingBallsG">
            </div>
            <div id="followingBallsG_2" class="followingBallsG">
            </div>
            <div id="followingBallsG_3" class="followingBallsG">
            </div>
            <div id="followingBallsG_4" class="followingBallsG">
            </div>
            </div> 


        </div>
    </div>

    

</div>

</div>

